<p>
  If the URL above does not work try copying and pasting it into your browser. If you have any issues, please feel free to contact us at <%= link_to(Setting.support_email, 'mailto:' + Setting.support_email) %>.
</p>