<h1>Activation Instructions</h1>

<p>
  Thank you for creating an account! Click the url below to activate your account!
</p>

<p>
  <%= link_to(@account_activation_url, @account_activation_url) %>
</p>

<%= render :partial => 'footer' %>